[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[user]
    name = Jiwon Kim
    email = jiwonaid0@gmail.com
# [includeIf "gitdir:~/Projects/"]
#     path = ~/.gitconfig-projects
[alias]
    s = status
    ac = !git add -A && git commit -m
    pr = !sh -c \"git fetch upstream pull/$1/head && git checkout -b pull-$1 FETCH_HEAD\" -
