[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[user]
        name = Jiwon Kim
        email = jiwonaid0@gmail.com
# [includeIf "gitdir:~/Projects/"]
#   path = ~/.gitconfig-projects
